.search-form
  padding-top: 7em

  fieldset
    border: none

  h2
    text-align: center
    @include font-size(18)
    line-height: 1em
    margin: 0 0 1em

    @include bp-1024-landscape()
      @include font-size(14)

    @include bp-767()
      @include font-size(12)

  p
    text-align: center
    @include font-size(14)
    line-height: 1.2em
    margin: 0 0 2em

    @include bp-1024-landscape()
      @include font-size(10)

    @include bp-767()
      @include font-size(10)

.search-form__field-row
  @include clearfix()
  @include css3-prefix('display', 'flex')
  @include css3-prefix('flew-flow', 'row nowrap')
  @include css3-prefix('justify-content', 'center')

.search-form__input-wrapper
  position: relative
  @include css3-prefix('align-self', 'center')

  input
    border: 1px $color-global-borders solid
    border-right: none
    @include font-size(14)
    line-height: 1em
    color: $color-global-inactive
    padding: .5em 10px .2em

    @include bp-1024-landscape()
      @include font-size(10)
      padding: 7px 10px 3px

    @include bp-767()
      @include font-size(10)
      padding: 7px 10px 3px

    &:focus
      color: $color-global-black

    &:focus + .search-form__input-info
      @extend .is-placeholder-focused

.search-form__input-info
  @include font-size(14)
  line-height: 1em
  color: $color-global-borders
  position: absolute
  top: 50%
  left: 0
  padding: 0 10px
  pointer-events: none
  @include css3-prefix('transform', 'translate(0%, -50%)')
  @include transition(font-size .5s $transition-easing-easeInOutCirc, transform .5s $transition-easing-easeInOutCirc, line-height .5s $transition-easing-easeInOutCirc)

  @include bp-1024-landscape()
    @include font-size(10)

  @include bp-767()
    @include font-size(10)

.is-valued + .search-form__input-info
  @extend .is-placeholder-focused

.search-form__geo-button
  border: 1px $color-global-borders solid
  border-left: none
  display: block
  height: 43px
  padding: 0 .5em

  @include bp-1024-landscape()
    height: 29px

  @include bp-767()
    height: 29px

  svg
    fill: $color-global-inactive
    width: 30px
    height: 41px
    @include transition(fill .5s $transition-easing-easeInOutCirc)

    @include bp-1024-landscape()
      height: 27px
      width: 22px

    @include bp-767()
      height: 27px
      width: 22px

  &:hover
    svg
      fill: $color-global-tab