.weather-forecast
  padding: 1em

  h3
    @include font-size(18)
    line-height: 1em
    margin: 0 0 1em

    @include bp-1024-landscape()
      @include font-size(14)

  h4
    @include font-size(16)
    line-height: 1em
    margin: 0 0 .5em

    @include bp-1024-landscape()
      @include font-size(12)

.weather-forecast__tab
  background: $color-global-tab
  
  ul
    display: block
    @include clearfix()
    @include css3-prefix('display', 'flex')
    @include css3-prefix('flew-flow', 'row nowrap')
    @include css3-prefix('justify-content', 'center')
  li
    position: relative
    @include css3-prefix('align-self', 'center')

    a
      display: block
      padding: .5em 1em
      @include font-size(14)
      line-height: 1em
      font-weight: bold
      color: $color-global-white
      cursor: pointer
      text-decoration: none
      @include transition(color .5s $transition-easing-easeInOutCirc)

      @include bp-1024-landscape()
        @include font-size(10)

      @include bp-767()
        @include font-size(10)

      &.is-active
        color: darken($color-global-tab, 20%)
        background: lighten($color-global-tab, 40%)

      &:hover
        color: darken($color-global-tab, 20%)

.weather-forecast__content
  background: lighten($color-global-tab, 40%)
  text-align: center

.weather-forecast__cell-wrapper
  @include css3-prefix('display', 'flex')
  @include css3-prefix('flex', 1)
  @include css3-prefix('justify-content', 'center')

  @include bp-1280()
    @include css3-prefix('flex-direction', 'row')
    @include css3-prefix('flex-wrap', 'wrap')

  @include bp-1024-landscape()
    @include css3-prefix('flex-direction', 'row')
    @include css3-prefix('flex-wrap', 'wrap')

  @include bp-767()
    @include css3-prefix('flex-direction', 'row')
    @include css3-prefix('flex-wrap', 'wrap')

.weather-forecast__cell
  @include css3-prefix('flex', '0 0 10%')
  position: relative
  padding: 2.5em 0 1em

  @include bp-1280()
    @include css3-prefix('flex', '0 0 20%')

  @include bp-1024-landscape()
    @include css3-prefix('flex', '0 0 20%')

  @include bp-767()
    @include css3-prefix('flex', '0 0 100%')

  &:after
    display: block
    content: ""
    position: absolute
    top: 0
    right: 0
    width: 1px
    height: 100%
    background: $color-global-borders

    @include bp-767()
      left: 0
      right: 0
      width: 100%
      height: 1px
  
  &:first-child
    &:after
      @include bp-767()
        display: none

  &:last-child
    &:after
      display: none

  &:nth-child(5n)
    &:after
      @include bp-1280()
        display: none

      @include bp-1024-landscape()
        display: none

  &:nth-child(n+6)
    &:before
      @include bp-1280()
        display: block
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 1px
        background: $color-global-borders
      @include bp-1024-landscape()
        display: block
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 1px
        background: $color-global-borders

.weather-forecast__day-infos
  h5
    @include font-size(10)
    font-weight: bold
    line-height: 1em
    margin: 0 0 1em
    color: $color-global-day

    @include bp-1024-landscape()
      @include font-size(8)

    span
      display: block

  h6
    color: lighten($color-global-black, 40%)
    @include font-size(9)
    font-weight: normal
    line-height: 1em
    margin: 0 0 1em

    @include bp-1024-landscape()
      @include font-size(8)

.weather-forecast__day-values

  figure
    margin: 0 0 1em

  li
    @include font-size(8)
    line-height: 1.4em
    color: lighten($color-global-black, 40%)
    padding: .3em .5em

    @include bp-1024-landscape()
      @include font-size(7)

    &:nth-child(odd)
      background: lighten($color-global-tab, 42%)

    strong
      display: block
      margin: 0
      color: $color-global-black